<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DeveloperSettingsTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <DeveloperSettingsTool.Properties.Settings>
            <setting name="SearchPaths" serializeAs="String">
                <value>*:\Coding\*\Launcher\devbin;*:\Coding\*\Launcher\Src\CobraBay\bin\Dev-Release</value>
            </setting>
            <setting name="Hosts" serializeAs="String">
                <value>http://pingram.forcapi.onsrvdev2.corp.frontier.co.uk/;http://temptestapitest.zaonce.net/</value>
            </setting>
            <setting name="CurrentLauncher" serializeAs="String">
                <value/>
            </setting>
        </DeveloperSettingsTool.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
